body{
	font-size:5vh;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    font-family: "futura";
}


input[type=text]{
	padding: 0.2em;
	width: 100%;
	font-size: 0.85em;
	margin-bottom: 0.5em;
	border:none;
}

input[type=submit]{
    border: none;
   color: white;
   text-decoration: none;
   position: relative;
      left: 5%;
      top: 1em;
   background-color: DodgerBlue;
   font-size: 0.7em;
   width: 90%;
   padding: 0.88em 0.7em 0.885em 0.712em;
   margin: auto;
}

button {
    border: none;
    color: white;
    text-decoration: none;
    position: relative;
    /* top: 1em; */
    background-color: DodgerBlue;
    font-size: 0.7em;
    width: 90%;
    padding: 0.88em 0.7em 0.885em 0.712em;
    align-content: center;
    margin: auto;
    display: none;
}

h2 {
    color: rgb(29, 94, 158);
    font-size: 1em;
    width: 100%;
    /* font-style: oblique; */
}


h3 {
    color: red;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    /* font-style: oblique; */
}

#signOut {
    background-color: red;
    color: black;
    margin-bottom: 1em;
    font-weight: bold;
}

/* REQUESTS => */

.table {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.table p {
    margin: 0.3em;
}

.table a{
    width: 100%;
    text-align: center;
}

.request {
    border: medium solid #8F4401;
    padding: 0 0.15em 0 0.15em;
}

.parameter, .content{
    margin: 0.5em;
}

.ref {
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.tel {
    margin-top: 0.75em;
}

#completePickup {
    margin-bottom: 1em;
}

/* FOOTER => */

#footer{
	font-size:3vh;
    width:90%;
    position: relative;
    left: 5%;
    right: 5%;
    margin: 5em 0 1em 0;;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

#footerRow {
    display: flex;
    justify-content: space-between;margin-bottom : 0.5em;
}