body{
	font-size:4vh;
    height:100%;
    width:90%;
    position: relative;
    left: 5%;
    right: 5%;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#flex { 
    display: flex;
    justify-content: space-between;
}

#banner {
    color: DodgerBlue;
}

#account {
    margin-top: 1.29em;
}

nav {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
 }

 .nav {
     color: #808080;
     font-size: 0.8em;
 }

@media (max-width: 490px) {
    body {
        font-size: 3vh;
    }
}

@media (max-width: 377px) {
    body {
        font-size: 2.6vh;
    }
}

@media (min-height: 699px) and (max-height: 1470px) and (max-width: 1100px) {
    body {
        font-size: 2.2vh;
    }
}

/*
    FORM SPECIFIC CSS BELOW
*/

form {
    margin: 14vh 0 0 0;
    width:60%;
    position: relative;
    left: 20%;
}

.formTitle {
    width: 100%;
}

input[type=text],input[type=email],input[type=tel]{
	padding: 0.2em;
    width: 100%;
	font-size: 0.85em;
	margin-bottom: 1em;
    border:none;
    height:5vh;
}

input[type=password]{
	padding: 0.2em;
    width:100%;
	font-size: 0.85em;
	margin-bottom: 1.2em;
    border:none;
    height:5vh;
}

input[type=submit]{
    border: none;
   color: white;
   text-decoration: none;
   width: 100%;
   background-color: DodgerBlue;
   font-size: 0.7em;
   padding: 0.88em 0.7em 0.885em 0.712em;
   margin: auto;
}

.changeAccountFlow {
    color: purple;
    text-decoration: underline;
}

#signUp {
    display: none;
}

#forgotPassword {
    display: none;
}

#message {
    width: 100%;
    text-align: center;
}

.legal {
    font-size: 0.7em;
}

@media (max-width: 490px) {
    form {
        width: 94%;
        left: 3%;
    }

    input[type=text] {
        margin-bottom: 0.6em;
    }
}

@media  (min-height: 635px) {
    form {
        margin: 8.5vh 0 0 0;
    }
}

/* FOOTER => */

#footer{
	font-size:3vh;
    width:90%;
    position: relative;
    left: 5%;
    right: 5%;
    margin: 5em 0 1em 0;;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

#footerRow {
    display: flex;
    justify-content: space-between;margin-bottom : 0.5em;
}

/* TERMS REUSE */

.bold {
    font-weight: bold;
}